.navicon-documents {
  background-image: url('../content/menu.polls.png') !important;
}
.navicon-documents:hover {
  background-position: 0 -30px !important;
}
.subnavicon-create-document {
  background-image: url('../content/menu.add.png');
}
